/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  background-size: cover;
  font-family: "IBM Plex Mono", sans-serif;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  max-inline-size: 100%;
  block-size: max(100vh, 668px);
  padding: var(--padding);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25.04px;
  height: 25px;
  border-block-start: var(--border-block-start);
  border-inline-end: var(--border-inline-end);
  border-block-end: var(--border-block-end);
  border-inline-start: var(--border-inline-start);
  border-style: solid;
  border-color: var(--border-color);
}

.decorated-zone::after {
  --border-inline-start: 1px;
  --border-block-end: 1px;
  --border-block-start: 0;
  --border-inline-end: 0;

  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25.04px;
  height: 25px;
  border-inline-start: var(--border-inline-start);
  border-block-end: var(--border-block-end);
  border-block-start: var(--border-block-start);
  border-inline-end: var(--border-inline-end);
  border-style: solid;
  border-color: var(--border-color);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.header__theme-menu-item {
  --margin-block-end: 10px;

  margin-block-end: var(--margin-block-end);
}

.header__theme-menu-button {
  --background-color: transparent;

  text-align: center;
  text-transform: lowercase;
  color: var(--font-color);
  background-color: var(--background-color);
  inline-size: 70px;
  block-size: 26px;
  border: none;
}

.header__theme-menu-button:hover {
  --border-color: #ff007066;

  border: 1px solid var(--border-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--border-bottom-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
  /*outline: 1px solid rgba(255, 0, 112, 1);*/
}

/* .decorative-text__decorative-element::before {
  --line-height: 25px;

  content: "REC";
  position: absolute;
  top: 10px;
  right: 38px;
  line-height: var(--line-height);
  color: var(--font-color);
} */

.header__rec {
  --line-height: 25px;

  content: "";
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 38px;
  line-height: var(--line-height);
  color: var(--font-color);
}

.header__rec::after {
  --background-color: #ff0070;

  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -19px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--background-color);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
}

/* .decorative-text__decorative-element::after {
  --background-color: #ff0070;

  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 19px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--background-color);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
} */

.title {
  --font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-weight: 700;
  --line-height: 95.7px;
  --font-color: #db00ff;

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--font-color);
  text-shadow: 4px 4px var(--accent-color);
}

.title-decor {
  --font-weight: 700;
  --line-height: 23.4px;
  --background-color: #ff0070;
  --font-color: #000028;

  inline-size: 100%;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--font-color);
}

.more__background-size {
  align-self: center;
  block-size: min-content;
  inline-size: max(100% - (var(--padding)) * 2, 355px);
}

.main {
  --gap: 50px;
  --margin-block-start: 40px;
  --margin-block-end: 40px;

  display: grid;
  grid-template-rows: auto;
  row-gap: var(--gap);
  padding-inline-start: var(--padding-inline-start);
  padding-inline-end: var(--padding-inline-end);
  margin-block-start: var(--margin-block-start);
  margin-block-end: var(--margin-block-end);
}

.thin-font {
  --font-weight: 400;

  font-weight: var(--font-weight);
}

.section__heading {
  --font-weight: 700;
  --line-height: 23.4px;
  --margin-block-end: 20px;
  --font-color: #ff0070;

  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);
  margin-block-end: var(--margin-block-end);
}

.another-block-size {
  --margin-block-end: 20px;

  block-size: min-content;
  margin-block-end: var(--margin-block-end);
}

.list__text {
  --font-color: #f1b2ce;
  --margin-block-start: 10px;

  color: var(--font-color);
  margin-block-start: var(--margin-block-start);
}

.section-list-item:not(:last-child) {
  --margin-block-end: 20px;

  margin-block-end: var(--margin-block-end);
}

.link-line {
  text-decoration: none;
  border-bottom: 1px solid #f1b2ce;
}

.remove__link-line {
  border-bottom: none;
}

.link-line:hover {
  --border-bottom-color: #f1b2ce;

  border-bottom: 1px solid var(--border-bottom-color);
}

.link-line:focus {
  --border-color: #f1b2ce;

  border: 1px solid var(--border-color);
}

.link-line:focus-visible {
  --border-color: #f1b2ce;

  border: 1px solid var(--border-color);
  outline: none;
}

.shadow__decor {
  text-shadow: 1.7px 1.7px var(--accent-color);
}

.section__images {
  --gap: 10px;

  display: grid;
  gap: var(--gap);
}

.images__container {
  --gap: 10px;

  /* display: -webkit-grid; */
  display: grid;
  object-fit: cover;
  object-position: center;
  gap: var(--gap);
}

.about__sunset-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.about__ice-cream-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.about__tape-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.about__books-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.about__street-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  position: relative;
  block-size: max(100vh, 668px);
  padding: var(--padding);
  text-align: center;
  justify-content: center;
}

.other-shade {
  --margin-inline-start: 5px;

  text-shadow: 2px 2px var(--accent-color);
  margin-inline-start: var(--margin-inline-start);
}

@media (min-width: 768px) {
  .header {
    --padding: 20px;

    block-size: max(100vh, 1024px);
    justify-self: center;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
    width: 25px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
    width: 25px;
  }

  .header__theme-menu {
    justify-content: end;
    align-self: center;
  }

  .header__theme-menu-item {
    --margin-block-end: 9px;
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .header__rec::after {
    top: 8px;
  }

  .title {
    --font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --line-height: 99px;
    --margin-inline-start: -20px;

    font-size: var(--font-size);
    line-height: var(--line-height);
    margin-inline-start: var(--margin-inline-start);
  }

  .more__background-size {
    justify-self: end;
    inline-size: max(50%, 364px);
  }

  .main {
    --gap: 80px;
    --margin-block-start: 60px;
    --margin-block-end: 60px;
    --padding-inline-start: 20px;
    --padding-inline-end: 20px;

    row-gap: var(--gap);
    padding-inline-start: var(--padding-inline-start);
    padding-inline-end: var(--padding-inline-end);
    margin-block-start: var(--margin-block-start);
    margin-block-end: var(--margin-block-end);
  }

  .section {
    display: grid;
    gap: 20px;
  }

  .list__text:last-of-type {
    --margin-block-end: 0;

    margin-block-end: var(--margin-block-end);
  }

  .section__about {
    grid-template-columns: 1fr 2fr;
  }

  .section__questions {
    grid-template-rows: auto;
  }

  .section__answers {
    grid-template-columns: repeat(2, auto);
  }

  .section__heading {
    --margin-block-end: 0;

    inline-size: 236px;
    margin-block-end: var(--margin-block-end);
  }

  .link-line {
    border-bottom: none;
  }

  .section__images {
    --gap: 20px;

    gap: var(--gap);
  }

  .images__container {
    --gap: 20px;

    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    block-size: 100%;
  }

  .about__sunset-image {
    block-size: 100%;
    grid-column: span 2;
  }

  .about__ice-cream-image {
    block-size: 100%;
    grid-row: span 2;
  }

  .about__tape-image {
    block-size: 100%;
    grid-row: span 2;
  }

  .about__books-image {
    block-size: 100%;
    grid-row: span 1;
  }

  .about__street-image {
    block-size: 100%;
    grid-column: span 2;
  }

  .footer {
    --padding: 20px;

    display: grid;
    position: relative;
    block-size: max(100vh, 1024px);
  }

  .other-shade {
    --margin-inline-start: 0;
  }
}

@media (min-width: 1024px) {
  .header {
    inline-size: 100%;
    block-size: max(100vh, 768px);
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
  }

  .title {
    --line-height: 129.53px;
  }

  .more__background-size {
    align-self: center;
    /* inline-size: max(50%, 491px); */
  }

  .subtitle-question {
    display: block;
  }

  .section__about {
    --gap: 10px;

    column-gap: var(--gap);
  }

  .section__questions {
    --gap: 20px;

    column-gap: var(--gap);
  }

  .section-direction {
    --gap: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap);
  }

  .section__answers {
    --gap: 20px;

    display: inline-grid;
    gap: var(--gap);
  }

  .section__heading {
    --font-weight: 700;
    --line-height: 23.4px;
    --font-color: #ff0070;

    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--font-color);
    inline-size: 314.96px;
  }

  .list__text {
    --font-color: #f1b2ce;
    --margin-block-start: 10px;
    --margin-block-end: 20px;

    margin-block-end: var(--margin-block-end);
  }

  .link-line:has(.link__decor) {
    border-bottom: none;
  }

  .footer {
    --padding: 20px;

    position: relative;
    block-size: max(100vh, 768px);
  }
}
